* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dark-mode {
    background: rgb(13, 11, 12);
    color: whitesmoke;
    width: 100%;
}

.light-mode {
    background: whitesmoke;
    color: black;
    width: 100%;
}
